/* CallToAction.css */
.footer-container {
  display: flex;
  position: sticky;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: #123456;  /* A dark background color for contrast */
  color: white;
}

.call-to-action {
    text-align: center;
    padding: 40px 20px;

    align-items: center;
    padding: 10px 0px;
    
  }
  
  .call-to-action h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .call-to-action p {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  
  .call-to-action button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #123456;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .call-to-action button:hover {
    background-color: #eeeeee;
  }

  .facebook-icon {
    color: #eeeeee;
  }

  .footer-interior {
    flex-direction: row;
    min-height: 100px;
  }
  